{% extends 'base.html.twig' %}

{% block title %}Contract{% endblock %}

{% block body %}
    <h1>Contract</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contract.id }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ contract.rate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contract_index') }}">back to list</a>

    <a href="{{ path('contract_edit', {'id': contract.id}) }}">edit</a>

    {{ include('contract/_delete_form.html.twig') }}
{% endblock %}
